.custom-badge {
    background-color: #343a40 !important;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 7px
}

.card {
    border: none;
    padding: 15px;
    cursor: pointer
}
h1{
    text-align: center;
    padding-left: 400px;
}
