.custom-badge {
    background-color: #343a40 !important;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 7px
}

.card {
    border: none;
    padding: 15px;
    cursor: pointer
}
h1{
    text-align: center;
    padding-left: 400px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: inline;
  }
  
  .nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  .nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
  }
  .nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .nav.active a {
    color: #000;
  }
  
  .nav.active .container {
    padding: 10px 0;
  }
  
  .nav a.current,
  .nav a:hover {
    color: #c0392b;
    font-weight: bold;
  }